[Unit]
Description=Jackett Daemon
After=network.target

[Service]
Environment="TMPDIR=/tmp/%I/Jackett"
ExecStartPre=-/bin/mkdir -p /tmp/%I/Jackett
SyslogIdentifier=jackett
Restart=always
RestartSec=5
Type=simple
User=%I
Group=%I
WorkingDirectory=/opt/%I/Jackett
ExecStart=/opt/%I/Jackett/jackett --NoRestart
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target