[Unit]
Description=Ombi - PMS Requests System
After=network-online.target

[Service]
User=USER
Group=USER
WorkingDirectory=/opt/Ombi/
ExecStart=/opt/Ombi/Ombi --storage /etc/Ombi/ --baseurl /ombi --host http://0.0.0.0:5000
Type=simple
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
