@require "base"

#autodl-tb
	background: transparent url(../img/prefs_std.gif) no-repeat center

.autodl-listbox
	@extend $autodl-listbox
	border: none
	background-color: #2A2E32

.autodl-listbox-item
	@extend $autodl-listbox-item
	color: #BDDBDB

	&:hover
		background: #353B40

.autodl-listbox-item-selected
	background: #41484E

	&:hover
		background: #4D555C

#autodl-multiselect
	@extends $autodl-multiselect

#autodl-multiselect-select
	@extends $autodl-multiselect-select
	margin-left: 10px
	background: none
	background-color: #2A2E32
	color: #BDDBDB

#autodl-irssi-log
	@extends $autodl-irssi-log
	border: 1px solid #677A8E

	tr:hover
		background-color: #3C4753

.autodl-fg-default
	color: #BDDBDB

.autodl-fg-as-bg
	background-color: #BDDBDB

.autodl-bg-default
	background-color: #272E36

.autodl-bg-as-fg
	color: #272E36

.autodl-fg-0
	color: #FFFFFF

.autodl-fg-1
	color: #000000

.autodl-fg-2
	color: #6666FF

.autodl-fg-3
	color: #008000

.autodl-fg-4
	color: #FF0000

.autodl-fg-5
	color: #A52A2A

.autodl-fg-6
	color: #CC00CC

.autodl-fg-7
	color: #FFA500

.autodl-fg-8
	color: #FFFF00

.autodl-fg-9
	color: #ADFF2F

.autodl-fg-10
	color: #00FFFF

.autodl-fg-11
	color: #E0FFFF

.autodl-fg-12
	color: #ADD8E6

.autodl-fg-13
	color: #FFC0CB

.autodl-fg-14
	color: #808080

.autodl-fg-15
	color: #D3D3D3

.autodl-bg-0
	background-color: #FFFFFF

.autodl-bg-1
	background-color: #000000

.autodl-bg-2
	background-color: #6666FF

.autodl-bg-3
	background-color: #008000

.autodl-bg-4
	background-color: #FF0000

.autodl-bg-5
	background-color: #A52A2A

.autodl-bg-6
	background-color: #CC00CC

.autodl-bg-7
	background-color: #FFA500

.autodl-bg-8
	background-color: #FFFF00

.autodl-bg-9
	background-color: #ADFF2F

.autodl-bg-10
	background-color: #00FFFF

.autodl-bg-11
	background-color: #E0FFFF

.autodl-bg-12
	background-color: #ADD8E6

.autodl-bg-13
	background-color: #FFC0CB

.autodl-bg-14
	background-color: #808080

.autodl-bg-15
	background-color: #D3D3D3
