@require "base"

#autodl-tb
	background: transparent url(../img/prefs_std.gif) no-repeat center

.autodl-listbox
	@extend $autodl-listbox
	border: 1px solid #DBDBDB
	background-color: white

.autodl-listbox-item
	@extend $autodl-listbox-item
	color: black

	&:hover
		background: #CFDEEF

.autodl-listbox-item-selected
	background: #9FBDDF

	&:hover
		background: #447EC1

#autodl-multiselect
	@extends $autodl-multiselect

#autodl-multiselect-select
	@extends $autodl-multiselect-select
	margin-left: 10px
	background-color: white
	color: black

#autodl-irssi-log
	@extends $autodl-irssi-log
	border: 1px solid #284E77
	background-color: #E4EDF6

	tr:hover
		background-color: #BED3EA

.autodl-fg-default
	color: #000000

.autodl-fg-as-bg
	background-color: #000000

.autodl-bg-default
	background-color: #F5F5F5

.autodl-bg-as-fg
	color: #F5F5F5

.autodl-fg-0
	color: #FFFFFF

.autodl-fg-1
	color: #000000

.autodl-fg-2
	color: #0000FF

.autodl-fg-3
	color: #008000

.autodl-fg-4
	color: #FF0000

.autodl-fg-5
	color: #A52A2A

.autodl-fg-6
	color: #800080

.autodl-fg-7
	color: #FFA500

.autodl-fg-8
	color: #8A5C2E

.autodl-fg-9
	color: #599400

.autodl-fg-10
	color: #0080FF

.autodl-fg-11
	color: #6666FF

.autodl-fg-12
	color: #57AECB

.autodl-fg-13
	color: #FF4766

.autodl-fg-14
	color: #808080

.autodl-fg-15
	color: #ADADAD

.autodl-bg-0
	background-color: #FFFFFF

.autodl-bg-1
	background-color: #000000

.autodl-bg-2
	background-color: #0000FF

.autodl-bg-3
	background-color: #008000

.autodl-bg-4
	background-color: #FF0000

.autodl-bg-5
	background-color: #A52A2A

.autodl-bg-6
	background-color: #800080

.autodl-bg-7
	background-color: #FFA500

.autodl-bg-8
	background-color: #8A5C2E

.autodl-bg-9
	background-color: #599400

.autodl-bg-10
	background-color: #0080FF

.autodl-bg-11
	background-color: #6666FF

.autodl-bg-12
	background-color: #57AECB

.autodl-bg-13
	background-color: #FF4766

.autodl-bg-14
	background-color: #808080

.autodl-bg-15
	background-color: #ADADAD
