div#FS_main div.dlg-header {background-image: url(images/icon.png);}

#FS_main table td {

padding-top: 3px;
padding-bottom: 3px;
}


ul.CMenu li.hover {background-color: #CFDEEF;}
ul.CMenu li.hover a {color: #000000}


